<div class="main-container">
  <div [ngClass]="{ active: sidebarActive }" class="sidebar">
    <div [ngClass]="{ active: sidebarActive }" class="main-menu">
      <p routerLink="/home">Home</p>
      <p routerLink="/logoCustom">Logo</p>
      <div *ngIf="router.url.includes('/logoCustom')" class="logoCustomBar">
        <div>
          <h3>Background</h3>
          <p (click)="updateBackground('A')" class="customChoice">Transparent</p>
          <p (click)="updateBackground('B')" class="customChoice">#01a0c6</p>
          <p (click)="updateBackground('C')" class="customChoice">#193253</p>
        </div>
        <div *ngIf="selectedBackground === 'A'">
          <h3>Font-Color</h3>
          <p (click)="updateFontColor('A')" class="customChoice">#01a0c6</p>
          <p (click)="updateFontColor('B')" class="customChoice">Black</p>
        </div>
      </div>
    </div>
  </div>
  <div class="header">
    <div class="menuToggleDiv">
      <label for="check">
        <input (click)="toggleSidebar()" type="checkbox" id="check"/>
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <div class="IdetaLogo">
      <img src="../assets/Images/Ideta%20Logos/Artboard.png" alt="IdetaLogo"/>
    </div>
  </div>
  <div [ngClass]="{ fullWidth: !sidebarActive }" class="container">
    <router-outlet></router-outlet>
  </div>
</div>
